<div *ngIf="topico" class="container">
  <h1 class="title is-size-3">{{ topico.titulo }} <span class="tag {{ status[topico.status].class }}">{{
      status[topico.status].text }}</span></h1>
  <h2 style="margin-bottom: 1rem;" class="subtitle">
    Postado por: {{ topico.nomeAutor }}
  </h2>

  <blockquote>
    {{ topico.mensagem }}
  </blockquote>

  <hr />

  <h3 class="title is-size-5">Respostas</h3>

  <app-topic-detail *ngFor="let item of topico.respostas" [item]="item"></app-topic-detail>
</div>