<div class="container">
  <h1 class="title is-size-2 has-text-centered">Alura Forum - Login</h1>

  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="E-mail" [(ngModel)]="loginForm.email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" placeholder="Senha" [(ngModel)]="loginForm.senha">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button style="width: 100%" (click)="entrar()" [disabled]="!loginForm.email || !loginForm.senha" class="button is-success">
            Login
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
